{{#prettify}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{#if title}}{{ title }}-{{ pkg.NAME }}{{else}}{{ pkg.NAME }}-{{ pkg.keywords }}{{/if}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{#if description}}{{ description }}{{else}}{{ pkg.description }}{{/if}}" />
  <meta name="keywords" content="{{#if keywords}}{{ keywords }}{{else}}{{join pkg.keywords ','}}{{/if}}" />
  <link rel="stylesheet" type="text/css" href="{{obj_val compiled_assets '/assets/css/application.css'}}">
  <script src="{{obj_val compiled_assets '/assets/js/application.js'}}"></script>
  {{#unless production}}<script src="http://localhost:35729/livereload.js"></script>{{/unless}}
</head>

<body>
  <div class="wrapper container">
    <div class="header">
      <a class="logo" href="http://www.sangeri.com">
        <img alt="香格伊" src="/images/sangeri.png">
      </a>
      <div class="header-link">
        <a href="/" title="简体中文">中文</a>
        |
        <a href="http://www.sangeri.net" title="English" target="_blank">English</a>
        |
        <a href="#" class="addfav" title="收藏网站">收藏网站</a>
        |
        <a href="#" class="addfav" title="网站二维码">网站二维码</a>
      </div>
      <a href="/contact" title="联系电话" class="phone">
         免费热线：400-629-1268
      </a>
      <div class="menu">
        <div class="menu-p">
          <div class="mi mi-home"><div class="mi-c">
            <a {{{navLinkTo "/"}}}>首页</a>
          </div></div>
          <div class="mi"><div class="mi-c">
            <a {{{navLinkTo "/about/"}}}>香格伊</a>
          </div></div>
          <div class="mi"><div class="mi-c">
            <a {{{navLinkTo "/cases/"}}}>案例</a>
          </div></div>
          <div class="mi"><div class="mi-c">
            <a {{{navLinkTo "/catalogue/"}}}>领域</a>
          </div></div>
          <div class="mi-split"></div>
          <div class="mi"><div class="mi-c">
            <a {{{navLinkTo "/news/"}}}>资讯</a>
          </div></div>
          <div class="mi"><div class="mi-c">
            <a {{{navLinkTo "/contact/"}}}>联络</a>
          </div></div>
        </div>
        <div class="menu-c">
          <div class="ms ms-2 hidden">
            <a href="/about/"><img alt="公司简介" src="/images/small/about.jpg"><br>公司简介</a>
            <a href="/advantages/"><img alt="行业优势" src="/images/small/advantages.jpg"><br>行业优势</a>
            <a href="/honors/"><img alt="企业荣誉" src="/images/small/honors.jpg"><br>企业荣誉</a>
          </div>
          <div class="ms ms-3 hidden">
            <a href="/cases/five-star-hotel/"><img alt="五星级酒店" src="/images/small/five-star-hotel.jpg"><br>五星级酒店</a>
            <a href="/cases/four-star-hotel/"><img alt="四星级酒店" src="/images/small/four-star-hotel.jpg"><br>四星级酒店</a>
          </div>
          <div class="ms ms-4 hidden">
            <a href="/catalogue/hotel/"><img alt="酒店客房" src="/images/small/hotel.jpg"><br>酒店客房</a>
            <a href="/catalogue/public/"><img alt="公共区域" src="/images/small/public.jpg"><br>公共区域</a>
            <a href="/catalogue/restaurant/"><img alt="酒店餐饮" src="/images/small/restaurant.jpg"><br>酒店餐饮</a>
            <a href="/catalogue/office/"><img alt="酒店办公" src="/images/small/office.jpg"><br>酒店办公</a>
            <a href="/catalogue/fixed/"><img alt="专业固装" src="/images/small/fixed.jpg"><br>专业固装</a>
            <a href="/catalogue/sofa/"><img alt="酒店沙发" src="/images/small/sofa.jpg"><br>酒店沙发</a>
            <a href="/catalogue/search/"><img alt="产品搜索" src="/images/small/search.jpg"><br>产品搜索</a>
          </div>
          <div class="ms ms-5 hidden">
            <a href="/news/company/"><img alt="企业资讯" src="/images/small/company.jpg"><br>企业资讯</a>
            <a href="/news/industry/"><img alt="行业资讯" src="/images/small/industry.jpg"><br>行业资讯</a>
            <a href="/news/teams/"><img alt="团队资讯" src="/images/small/teams.jpg"><br>团队资讯</a>
          </div>
          <div class="ms ms-6 hidden">
            <a href="/contact/"><img alt="联系我们" src="/images/small/contact.jpg"><br>联系我们</a>
            <a href="http://pan.baidu.com/s/1i3n3Q4l" target="_blank"><img alt="电子相册下载" src="/images/small/xiangce.jpg"><br>电子相册下载</a>
          </div>
          <div class="menuclose showifpanelshows hidden"><a href="#" id="hidemenu">x</a></div>
        </div>
        {{#compare permalink "!=" "/"}}
        <div class="bread hideifpanelshows">
          当前位置：
          <a href="/">首页</a>
          &raquo;
          <a href="{{coltitlelink}}">{{coltitle}}</a>
          {{#eachProperty sidelist}}{{#startsWith ../permalink value}}
            &raquo;
            <a href="{{get value}}">{{key}}</a>
          {{/startsWith}}{{/eachProperty}}
        </div>
        {{/compare}}
      </div>
    </div>
    {{>body}}
  </div>
  <div class="footer">
    <div class="container">
      <ul class="fm">
        <li class="fm-sect">
          <em><a href="/about/">香格伊</a></em>
          <ul class="fm-subm">
            <li><a href="/about/">公司简介</a></li>
            <li><a href="/advantages/">行业优势</a></li>
            <li><a href="/honors/">企业荣誉</a></li>
          </ul>
        </li>
        <li class="fm-sect">
          <em><a href="/cases/">案例</a></em>
          <ul class="fm-subm">
            <li><a href="/cases/five-star-hotel/">五星级酒店</a></li>
            <li><a href="/cases/four-star-hotel/">四星级酒店</a></li>
          </ul>
        </li>
        <li class="fm-sect">
          <em class="merge"><a href="/catalogue/">领域</a></em>
          <ul class="fm-subm">
            <li><a href="/catalogue/hotel/">酒店客房</a></li>
            <li><a href="/catalogue/public/">公共区域</a></li>
            <li><a href="/catalogue/restaurant/">酒店餐饮</a></li>
          </ul>
        </li>
        <li class="fm-sect">
          <em>　</em>
          <ul class="fm-subm">
            <li><a href="/catalogue/office/">酒店办公</a></li>
            <li><a href="/catalogue/fixed/">专业固装</a></li>
            <li><a href="/catalogue/sofa/">酒店沙发</a></li>
          </ul>
        </li>
        <li class="fm-split"></li>
        <li class="fm-sect">
          <em><a href="/news/">资讯</a></em>
          <ul class="fm-subm">
            <li><a href="/news/company/">企业资讯</a></li>
            <li><a href="/news/industry/">行业资讯</a></li>
            <li><a href="/news/teams/">团队资讯</a></li>
          </ul>
        </li>
        <li class="fm-sect">
          <em><a href="/contact/">联络</a></em>
          <ul class="fm-subm">
            <li><a href="/contact/">联系我们</a></li>
            <li><a href="http://pan.baidu.com/s/1i3n3Q4l" target="_blank">电子相册下载</a></li>
            <li><a href="/catalogue/search/">产品搜索</a></li>
          </ul>
        </li>
        <li class="clearfix"></li>
      </ul>
      <div class="gototop">
        <div class="divide3">
          <a href="#">回到顶部</a>
        </div>
      </div>
      <div class="footer-text">
        Copyright &copy; 1987-2014 佛山市香格伊酒店家具制造有限公司<br>
        网站建设与维护：<a href="http://www.8html.com/" target="_blank">8HTML</a>
      </div>
    </div>
  </div>
</body>

</html>
{{/prettify}}
