---
layout: default.hbs
---
<div class="content menupad">
  <div class="sliderkit ip-slider">
    <div class="sliderkit-nav">
      <div class="sliderkit-nav-clip">
        <h3>{{which imagestitle title}}</h3>
        <ul>
          {{#if images}}
            {{#eachIndex images}}
              <li><a href="#"><img src="{{item}}"></a></li>
            {{/eachIndex}}
          {{else}}
            {{#if list}}
              {{#eachIndex list}}
                {{#is item.data.slide true}}
                  <li><a href="#"><img src="{{item.data.image}}"></a></li>
                {{/is}}
              {{/eachIndex}}
            {{/if}}
          {{/if}}
        </ul>
      </div>
    </div>
    <div class="sliderkit-panels">
      {{#if images}}
        {{#eachIndex images}}
          <div class="sliderkit-panel">
            <img src="{{item}}">
          </div>
        {{/eachIndex}}
      {{else}}
        {{#if list}}
          {{#eachIndex list}}
            {{#is item.data.slide true}}
              <div class="sliderkit-panel">
                <img src="{{item.data.image}}">
              </div>
            {{/is}}
          {{/eachIndex}}
        {{/if}}
      {{/if}}
    </div>
    <div class="sbhead"></div>
  </div>
  <div class="ip-content">
    <div class="sidebar">
      <div class="sb-head">
        <a href="{{coltitlelink}}">{{coltitle}}</a>
      </div>
      <div class="sb-list">
        {{#if sidelist}}
          {{#eachProperty sidelist}}
            <a href="{{get value}}"{{#startsWith ../permalink value}} class="active"{{/startsWith}}>{{key}} <em>&#10095;</em></a>
          {{/eachProperty}}
        {{else}}
          {{#if list}}
            {{#eachIndexRemoveIndexDotHTML list}}
              <a href="{{item.filename}}"{{#startsWith ../permalink item.filename}} class="active"{{/startsWith}}>{{item.data.title}} <em>&#10095;</em></a>
            {{/eachIndexRemoveIndexDotHTML}}
          {{/if}}
        {{/if}}
      </div>
      <div class="contactbox">
        <a href="/contact/" class="contactimg">联系我们</a>
      </div>
    </div>
    <div class="main">
      {{>body}}
    </div>
    <div class="clearfix"></div>
  </div>
</div>
