---
layout: default.hbs
---
<div class="content menupadslim">
  <div class="slimhead">
    <div class="divide"></div>
    <div class="sbhead" style="background: {{sidetopcolor}}; border-top-color: {{sidetopcolorlight}};"></div>
  </div>
  <div class="ip-content">
    <div class="sidebar">
      <div class="sb-head">
        <a href="{{coltitlelink}}" style="background-color: {{sidetopcolor}}; background-image: url({{sidetopbg}});" class="left-margin">{{coltitle}}</a>
      </div>
      <div class="sb-list left-margin">
        {{#eachProperty sidelist}}
          <a href="{{get value}}"{{#startsWith ../permalink value}} class="active"{{/startsWith}}>{{key}}
            <em class="triangle-right">&gt;</em></a>
        {{/eachProperty}}
        <div class="clearfix"></div>
      </div>
      <div class="contactbox">
        <a href="/contact/" class="contactimg left-margin">联系我们</a>
        {{>partial.contact.qq}}
      </div>
    </div>
    <div class="main">
      {{>body}}
    </div>
    <div class="clearfix"></div>
  </div>
</div>
